Repository marigold-dev/deku, pull requests merged in 2021-11, with the labels that each got.

#313 Smart contracts: add .vscode settings.jsons
  deku/.vscode/settings.json
  ligolang/.vscode/settings.json
  zinc/.vscode/settings.json
Labels: ZINC, smart contracts, ligo

#319 Ligo: Add support for compiling options to zinc
  ligolang/src/passes/13deku-zincing/compiler.ml
  ligolang/src/test/contracts/make_an_option.religo
  ligolang/src/test/zinc_test.ml
Labels: smart contracts, ligo

#314 Ligo: fix esy test command
  ligolang/package.json
Labels: smart contracts, ligo

#328 Remove label names from Zinc for records and tuples
  _esy/default/cache/project-fdaddf958f18c35f183f56e70179a71f
  ligolang/src/passes/13deku-zincing/compiler.ml
  ligolang/src/test/zinc_test.ml
  zinc/lib/Zinc_interpreter.ml
  zinc/lib/Zinc_types.ml
  zinc/lib/Zinc_utils.ml
  zinc/tests/test_sample.ml
Labels: smart contracts

#329 Add lists to zinc
  ligolang/src/passes/13deku-zincing/compiler.ml
  ligolang/src/test/zinc_test.ml
  zinc/lib/Zinc_interpreter.ml
  zinc/lib/Zinc_types.ml
Labels: smart contracts

#331 zinc: add custom variants to zinc interpreter
  zinc/lib/Zinc_interpreter.ml
Labels: smart contracts

#336 Ligo: update ocamlformat
  ligolang/esy.lock/index.json
  ligolang/esy.lock/opam/base.v0.14.1/opam
  ligolang/esy.lock/opam/menhir.20211012/opam
  ligolang/esy.lock/opam/menhirLib.20211012/opam
  ligolang/esy.lock/opam/menhirSdk.20211012/opam
  ligolang/esy.lock/opam/ocaml-version.3.4.0/opam
  ligolang/esy.lock/opam/ocamlformat.0.19.0/opam
  ligolang/esy.lock/opam/ocp-indent.1.8.1/opam
  ligolang/esy.lock/opam/odoc-parser.0.9.0/opam
  ligolang/esy.lock/opam/odoc.1.5.3/opam
  ligolang/esy.lock/opam/ppxlib.0.23.0/opam
  ligolang/esy.lock/opam/tyxml.4.5.0/opam
  ligolang/package.json
Labels: smart contracts, ligo

#335 Simplify zinc extensions
  ligolang/src/passes/13deku-zincing/compiler.ml
  ligolang/src/test/zinc_test.ml
  zinc/lib/Zinc_interpreter.ml
  zinc/lib/Zinc_types.ml
Labels: ZINC, smart contracts

#350 Reorganize zinc primitives
  ligolang/src/passes/13deku-zincing/compiler.ml
  ligolang/src/test/zinc_test.ml
  zinc/lib/Zinc_interpreter.ml
  zinc/lib/Zinc_types.ml
  zinc/tests/test_sample.ml
Labels: ZINC, smart contracts, ligo

#339 Made LIGO dialect a test parameter
  ligolang/src/test/zinc_test.ml
Labels: smart contracts
